<h1><%= @survey_options.title %></h1>

<p>
 <%= @survey_options.survey_option_id %>
</p>

<h1>Results</h1>
<p>

</p>

<a href="index">Back to Homepage</a>

<% @survey_options.id.each do |survey_option| %>
  <div class="slide">
    <h3>
      <a href="/presentation/<%= slide.id %>"><%= slide.title %></a> 
      <small><%= slide.description %></small>
    </h3>
   <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
      <a href="/presentation/<%= slide.id %>"><%= slide.title %>
        NEXT
      </a>
    </div>
</div>
