<h1>Slides</h1>

<% @slides.each do |slide| %>
  <div class="slide">
    <h3>
      <a href="/presentation/<%= slide.id %>"><%= slide.title %></a> 
      <small><%= slide.description %></small>
    </h3>
   <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
      <a href="/presentation/<%= slide.id %>"><%= slide.title %>
        NEXT
      </a>
    </div>
</div>